/*
 *    Base
 *
----------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    }

html, body {
    height: 100%;
    }

body {
    color: #7a7a7a;
    font: normal 13px/1.4 Arial, Helvetica, sans-serif;
    }

p,
table,
figure {
    margin-bottom: 20px;
    }

h1 {
    color: #2b3638;
    font: normal 30px Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 40px 0 20px;
    }

strong {
    color: #3c4a4d;
    font-weight: normal;
    }

#wrapper {
    min-height: 100%;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    }
    table tfoot,
    table th {
        background: #E6E6E6;
        }
    table th,
    table td {
        border: 1px solid #ccc;
        padding: 10px 15px;
        vertical-align: top;
        }
    table tbody tr td {
        background: #fff;
        }
    table tbody tr:nth-child(odd) td,
    table tbody tr:nth-child(odd) th {
        background-color: #f6f6f6;
        }
    table.map tbody tr:nth-child(odd) td,
    table.map tbody tr:nth-child(odd) th {
        background-color: #fff;
        }
    table tbody tr:hover td,
    table tbody tr:hover th {
        background-color: #fff9e4;
        }
    table.map tbody tr:hover td,
    table.map tbody tr:hover th {
        background-color: #fff;
        }
    table.map tbody tr td:hover,
    table.map tbody tr th:hover {
        background-color: #fff9e4;
        }

a {
    color: #2b3638;
    text-decoration: underline;
    }
a:hover {
    text-decoration: none;
    }

figure img {
    display: block;
    background: #e2e2e2;
    padding: 5px;
    border-radius: 10px;
    }
figure.center img {
    margin: 0 auto;
    }
figure.multi img {
    display: inline-block;
    }
figure figcaption {
    display: block;
    margin-top: 5px;
    font-style: italic;
    }
figure.center figcaption {
    text-align: center;
    }


/*
 *    Header
 *
----------------------------------------------------------------------------- */

header {
    height: 100px;
    background: #253032;
    }
    header > div {
        width: 980px;
        margin: 0 auto;
        position: relative;
        }
        #logo {
            position: absolute;
            left: 0;
            top: 24px;
            }
        header b {
            color: #ffffff;
            font-size: 12px;
            padding: 10px 0 10px 30px;
            border-left: 1px solid #fff;
            position: absolute;
            left: 80px;
            top: 32px;
            text-transform: uppercase;
            }
        header nav {
            float: right;
            margin-top: 34px;
            }
            header nav a {
                color: #ffffff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 10px 20px;
                float: left;
                border-radius: 25px;
                text-decoration: none;
                }
            header nav a:hover {
                color: #2b3537;
                background: #ffffff;
                }


/*
 *    Article
 *
----------------------------------------------------------------------------- */

article {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 150px;
    }


/*
 *    Footer
 *
----------------------------------------------------------------------------- */

footer {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    height: 80px;
    margin-top: -80px;
    background: #272f32;
    }
    footer > div {
        width: 980px;
        margin: 0 auto;
        padding-top: 30px;
        }